* {
    padding: 0;
    margin: 0
}

body {
    background-color: #ccc;
}

.waterfall {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.grid {
    width: 240px;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;

    overflow: hidden;
}

.grid img {
    width: 240px;
    border-radius: 15px;
}

.grid:hover img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.grid .mask {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.grid .btn {
    top: 45%;
    left: 25%;
    position: absolute;
    display: none;
}

.grid:hover .btn {
    display: block;
}

.grid:hover .mask {
    opacity: 0.4;
}

.grid .grid_p {
    position: absolute;
    top: 10px;
    display: none;
}

.grid:hover .grid_p {
    display: block;
}

.button-primary {
    text-align: center;
}